@tailwind base;
@tailwind components;
@tailwind utilities;

   .flipbook-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 20%;
    padding-bottom: 50%;
  }
  
  .page {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
    height: 100%;
    background: white;
    /* border: 1px solid #ccc; */    
  }
 

/* Shadow effect on the left page (on the right side) */
/* .leftPage::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
    z-index: 3;
}
.rightPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
  z-index: 3;
} */

/* Shadow effect on the left page (right side) */
.leftPage::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
  z-index: 3;
}

/* Shadow effect on the right page (left side) */
.rightPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
  z-index: 3;
}


  .image-page {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }
  
  .image-half {
    width: 100%;
    height: 80%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
  }
  .image-10 {
    width: 10%;
    height: 80%;
    background-size: 200% 100%;
    background-repeat: no-repeat;
  }
  .purchase-container {
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    position: relative;
    left: -180px;
  }
  
  .purchase-label {
    font-size: 13px;
    color: #333;
    font-weight: 400;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5px;
  }
  
  .purchase-price {
    font-size: 20px;
    /* font-weight: bold; */
    color: #000;
    font-family: "georgia";
    margin: 0;
  }
  
  .currency-symbol {
    font-size: 85%; /* Adjusts the $ size */
  }
  
  /*  */
  .second-image {
    position: absolute;
    left: 0; /* Align to the left */
    top: 50%; /* Move the top edge to the middle */
    transform: translateY(-50%); /* Center it vertically */
    background-size: cover; /* or contain */
    width: 100%;
    height: 100%;
}

.second-bio{
  margin-top: 16px;
  color: #4a4a4a; /* Gray text */
  font-size: 14px; /* Small text */
  padding: 16px; /* Padding */
  text-align: left; 
}

/* fourth page */
/*  */
.gallery-abcdef {
  display: flex;
  gap:5px;
  /* justify-content: space-between; */
}
.gallery-abcdef img {
  width: 49%;
  max-width: 49%;
  min-width: 49%;
  min-height: 170px;
  max-height: 170px;
}
/* fourth page */


/* fifth page */
.thumbnail-container-a1b2c3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.thumbnail-container-a1b2c3 img {
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  min-height: 157px;
  height: auto;
  padding-left: 2%;
}
/* fifth page */


/* sixth page */
.sixth-page-thumbnail-container-a1b2c3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sixth-page-thumbnail-container-a1b2c3 img {
  width: 265px;
  min-width: 265px;
  max-width: 265px;
  min-height: 157px;
  padding-left: 2%;
  padding-right: 2%;
}
.sixth-page-container {
  display: flex;
  flex-direction: column;
  min-width: 540px;
  padding-left: 25%;
  max-height: 130px;
  min-height: 130px;
  padding-top:20px;
}

.sixth-page-title {
  text-align: center;
  padding-left: 3%;
  font-weight: 500;
  font-size: x-large;
}

.sixth-page-description {
  padding-top: 20px;
}

/* sixth page */
.Heading{
  white-space: nowrap;
}
/* seven page */
.seventh-description {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 465px;
  max-height: 150px;
  min-height: 100px;
  max-width: 465px;
  min-width: 465px;
  /* background: #f0f0f0; */
  overflow: auto;
  padding: 10px;
}

/* seven page */

/* description */
.description-container {
  /* style={{ textAlign: 'center', paddingLeft: '3%', paddingBottom: "10%", fontWeight: '500', fontSize: 'x-large' ,fontFamily:"georgia"} */
  text-align: center;
  padding-left: 3%;
  padding-bottom: 10%;
  font-weight: 500;
  font-size: large;
  font-family: "georgia";
}
.description-font{
  font-family: "georgia";
}
/* description */